body {
  margin: 0px;
  background: #000;
  overflow: auto;
}
canvas {
  cursor: default;
  position: absolute;
  bottom: 0;
}
#container {
  position: relative;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background: #222;
}

/* All things drag windows */
.dragable {
  cursor: move;
  position: absolute;
  display: block;
  width:100px;
  height:100px;
}
.red {
  background: #900;
}
.green {
  background: #090;
}
.blue {
  background: #009;
}
.special {
  height:200px;
  width:300px;
  background: #fff;
}

/* All things icon bar */
.icon {
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.2em;
  cursor: pointer;
}
.icon:last-child {
  padding-right: 0.3em;
}
.icon-bar {
  float: right;
  font-family: verdana;
  line-height: 16px;
  font-size: 22px;
  font-weight: bold;
}
.minimize {
  color: green;
}
.fill {
  color: blue;
}
.close {
  color: red;
}
