/* NAV TREE CSS CLASS */
.nav-tree {
  white-space: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-tree ul, .nav-tree ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 1.15em;
}
.nav-tree li:before {
  position: relative;
  top: -0.3em; /* center line horizontally */
  height: 1em;
  width: 0.7em; /* removing width also looks good */
  display: inline-block; /* same effect removing inline-block */
  content: "";
  left: -0.3em; /* proper left position for horizontal line */
  border-bottom: 0.1em solid rgb(100,100,100);
}
.nav-tree li {
  padding: 0 0.3em;
  line-height: 20px; /* Larger vertical spread between list items */
  border-left: 0.1em solid rgb(100,100,100);
}
.nav-tree li:last-child {
  border-left: none;
}
.nav-tree li:last-child:before {
  border-left: 0.1em solid rgb(100,100,100);
}
.nav-tree li ul {
  display: none;
  color: black;
}

/* DISABLE THINGS CSS CLASS */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
